

    <div class="jumbotron text-center">
      <div class="container">
        <h1 class="display-2">- Our Mission -</h1>

        <p style = "font-size: 20px">
          At Apptopia, we all come to work every day because we want to solve the biggest problem in mobile. Everyone is guessing.
          Publishers don’t know what apps to build, how to monetize them, or even what to price them at. Advertisers & brands don’t
          know where their target users are, how to reach them, or even how much they need to spend in order to do so.
          Investors aren’t sure which apps and genres are growing the quickest, and where users are really spending their time (and money).
        </p>

      </div>
    </div>

<!--    -------------------------------------------------------------------------------------------------------------------------------------->
    <div>

      <h1 align="center">Our Team</h1>

    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------->
    <br/>
    <br/>

    <div class="container">

      <div class = "row">

          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="150" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect fill="#777" width="100%" height="100%"/><text fill="#777" dy=".3em" x="50%" y="50%">140x140</text></svg>
                                 <br/><br/>
            <h2>Shlok</h2>
            <p>
              He is a Teaching Assistant at Coding Ninjas,India and is pursuing his Bachelor's in Technology from Bharati Vidhyapeeth's College of Engineering.
              Being a Full Stack Developer, he is comfortable with technologies like Ruby on Rails, Nodejs, and frameworks like Vuejs & Reactjs.
            </p>

            <p><a class="btn btn-outline-info" href="https://github.com/coderhyno" role="button">View details &raquo;</a></p>

          </div><!-- /.col-lg-4 , https://www.linkedin.com/in/shlok-w-01089980/ -->

          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="160" height="160" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect fill="#777" width="100%" height="100%"/><text fill="#777" dy=".3em" x="50%" y="50%">140x140</text></svg>
                                <br/><br/>
            <h2>Harman</h2>
            <p>
              He is a Web Developer at Developer Student Clubs and is also pursuing his Bachelor's in Technology from Bharati Vidhyapeeth's College of Engineering.
              He is comfortable with technologies like Jekyll, Ruby on Rails & Dialogflow.
            </p>

            <p><a class="btn btn-outline-info" href="https://github.com/CoderJolly" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 , https://www.linkedin.com/in/coderjolly/ -->

          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="160" height="160" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect fill="#777" width="100%" height="100%"/><text fill="#777" dy=".3em" x="50%" y="50%">140x140</text></svg>
                                <br/><br/>
            <h2>Sakaar</h2>
            <p>
              He is an AWS Wizard and is also pursuing his Bachelor's in Technology from Bharati Vidhyapeeth's College of Engineering.
              He is comfortable with technologies like iOS App Development, AWS Lamba & Dialogflow.
            </p>
            <p><a class="btn btn-outline-info" href="https://github.com/schmosbyy" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 , https://www.linkedin.com/in/sakaar-poply-0710b52a/ -->

       </div><!-- /.row -->

    </div><!-- /.container -->
