
<!--CAROUSEL-->

<%= render "carousel" %>



<div class="container marketing">

  <!-- THREE HEADINGS -->
  <%= render "pages/3headings" %>

  <hr />

  <!--  FEATURES-->
  <div class = "container">

      <%= render "pages/features" %>

  </div>


</div>