
<!--CAROUSEL-->

<%= render "carousel" %>



<div class="container marketing">

  <!-- THREE HEADINGS -->
  <%= render "pages/3headings" %>

  <hr />

  <!--  FEATURES-->

  <%= render "pages/features" %>

</div>