<h1>Spots</h1>
<% i = 1 %>
<% spot.each do |s| %>
    <%= i %>) <%= s.feed %>
    <%= s.latitude %>
    <%= s.longitude %>
    <% i += 1 %>
    <br />
<% end %>

<script>
    var URL = "http://localhost:3000/api/v1/";
    var data = {};

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(giveLocation);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function giveLocation(position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;

        data = {
            'latitude': lat,
            'longitude': long,
        }

        $.ajax({
            url: URL+'locations', 
            contentType: 'application/json',
            data: data,
            success: function(result){
                console.log(result)
        }});
    };
    getLocation()
    
</script>