<div class="row">
    <div class="col-sm-3">
      <%= render 'spots', spot: @spots %>
    </div>
    <div class="col-sm-6">
      <%= render 'map' %>
    </div>
    <div class="col-sm-3">
      <%= render 'feedback', feedback: @feedback %>
    </div>
  </div>