


    <div class="row">

    <div class="col-md-4">
      <h2> The Safety Score</h2>
      <p>The Safety Score is given to the area by the people using it. It calculates the safety scores of areas based on parameters like
        crowds, previous user rating, visibility and availability of public transport, etc and gives a rating to the locations on the app. </p>
    </div><!-- /.col-lg-4 -->

    <div class="col-md-4">
      <h2>How to use ?</h2>
      <p>You just need to login with a valid email id and then move on to find safety near you. By the giving the map access to the map for real-time location
          analysis</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-md-4">
      <h2>Make the city safer</h2>
      <p>Make use of our Whatsapp facility to make the city safer. Let us know how safe you feel in a place, or do a survey and report hazards or harassment.</p>

    </div>

    </div><!-- /.col-lg-4 -->
