


<!--              Feauture 1-->

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading"> 24 hr IVR Helpline, <span class="text-muted">It’ll blow your mind.</span></h2>
    <p style="font-size :25px;" class="lead"> We have arranged an IVR helpline number to take queries and provide help around the clock through our dynamic database management.</p>
  </div>
  <div class="col-md-5">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
  </div>
</div>

<hr/>
<!--              Feauture 2-->

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading"> Whatsapp Chat Facility, <span class="text-muted">Another whooping feature</span></h2>
    <p style="font-size :25px;" class="lead"> An Intuitive way to interact to the dataset which enables seeking aid for important services and this dataset also
                                              serves as a database for NGOs, Hospitals, etc that can provide help afterwards also. </p>
  </div>
  <div class="col-md-5 order-md-1">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
  </div>
</div>

<hr/>
<!--             Feauture 3-->

<!--<div class="row featurette">-->
<!--  <div class="col-md-7">-->
<!--    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>-->
<!--    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
<!--  </div>-->
<!--  <div class="col-md-5">-->
<!--    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>-->
<!--  </div>-->
<!--</div>-->

<!--<hr/>-->