


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-3">Save Our Souls</h1>
      <p class="lead" style = "font-size: 30px"> These are our 24 hr services tha enable users to reach for help or shelter on emergency basis and reach out for better solutions.</p>
    </div>

    <div class="container">

      <div class="card-deck mb-3 text-center">

        <div class="card mb-4 shadow-sm">

              <div class="card-header">
                <h3 class="my-0 font-weight-normal">Hotline Number</h3>
              </div>

              <div class="card-body">
                <h1 class="card-title pricing-card-title">+1210-816-6966</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li> An IVR Solution to bridge gaps</li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Call</button>
              </div>

        </div>

        <div class="card mb-4 shadow-sm">

              <div class="card-header">
                <h3 class="my-0 font-weight-normal">Whatsapp / SMS</h3>
              </div>

              <div class="card-body">
                <h1 class="card-title pricing-card-title">+1 415-523-886 </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li> Looking for shelter, or any Query ?</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary"> Ask Now</button>
              </div>

        </div>

        <div class="card mb-4 shadow-sm">

            <div class="card-header">
              <h4 class="my-0 font-weight-normal"> Facebook Messenger</h4>
            </div>

            <div class="card-body">
              <h1 class="card-title pricing-card-title"> Messenger Bot</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Go Ahead, Have a look, Chat with Us</li>
              </ul>
              <a href="https://m.facebook.com/Women-Support-2238639493059847/" class="btn btn-lg btn-block btn-primary" role="button" aria-pressed="true">Visit US</a>
            </div>
        </div>
      </div>
</div>
