<h1>Map</h1>
<div id="mapid"></div>
<div id="map"></div>

<p id="error"></p>

<div id="latitude">
</div>
<div id="longitude">
</div>

<script>
    var x = document.getElementById("error");
    var latt = document.getElementById("latitude");
    var longg = document.getElementById("longitude");
    var mymap;
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showMap);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    
    function showMap(position) {
        mymap = L.map('mapid').setView([position.coords.latitude, position.coords.longitude], 13);

        latt.innerHTML = position.coords.latitude;
        longg.innerHTML = position.coords.longitude;

        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        var feed = 0;

        data = {
            'latitude': lat,
            'longitude': long,
            'feed': feed,
            'color': color,
            'sanitaion': 0,
            'crowd': 0,
            'lighting': 0,
        }

        var colors = ['red', 'orange', 'yellow', 'blue', 'green']

        var points = [];
        var color;

            $.ajax({
                url: URL+'locations', 
                contentType: 'application/json',
                data: data,
                success: function(result){
                    for(var i=0;i<result.length;++i) {
                        
                        if(result[i].feed >= 0 && result[i].feed <= 2) {
                            color = 'red';
                        } else if(result[i].feed > 2 && result[i].feed <= 4) {
                            color = 'orange';
                        } else if(result[i].feed > 4 && result[i].feed <= 6) {
                            color = 'yellow';
                        } else if(result[i].feed > 6 && result[i].feed <= 8) {
                            color = 'blue';
                        } else if(result[i].feed > 8 && result[i].feed <= 10) {
                            color = 'green';
                        }
                        data = {
                            'latitude': result[i].latitude,
                            'longitude': result[i].longitude,
                            'feed': result[i].feed,
                            'color': color,
                            'sanitaion': result[i].sanitation,
                            'crowd': result[i].crowd,
                            'lighting': result[i].lighting,
                        };
                        points.push(data);
                    }

                var baseLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYml0c25ieXRlczE5IiwiYSI6ImNqcXNoaWlhYTB2ODMzeHByZ2NjdDd6YXQifQ.kNcH0XFQDT6uW1cYyZvK3g', {
                    maxZoom: 200,
                    id: 'mapbox.streets',
                    accessToken: 'your.mapbox.access.token'
                }).addTo(mymap);

                var marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(mymap);
                marker.bindPopup("<b>You are here!</b>", {autoClose: false}).openPopup();

                console.log(points);

                for(var i=0;i<points.length;++i) {
                    var greenIcon = L.icon({
                        iconUrl: '/color-markers/img/marker-icon-2x-'+points[i].color+'.png',

                        iconSize:     [20, 38], // size of the icon
                        shadowSize:   [50, 64], // size of the shadow
                        iconAnchor:   [15, 25], // point of the icon which will correspond to marker's location
                        shadowAnchor: [4, 62],  // the same for the shadow
                        popupAnchor:  [1, -22] // point from which the popup should open relative to the iconAnchor
                    });
                    var markup = '<b>'+String(points[i].feed)+'<b>'+'<br>'+'Lighting:'+String(points[i].lighting)+'<br>'+'Crowd:'+String(points[i].crowd)+'<br>'+'Sanitation:'+String(points[i].sanitaion);
                    var pointer = L.marker([points[i].latitude, points[i].longitude], {icon: greenIcon}).addTo(mymap);
                    pointer.bindPopup(markup, {autoClose: false}).openPopup();

                    var circle = L.circle([points[i].latitude, points[i].longitude], {
                        color: points[i].color,
                        fillColor: '',
                        fillOpacity: 0.2,
                        radius: 50
                    }).addTo(mymap);


                }

                var circle = L.circle([position.coords.latitude, position.coords.longitude], {
                    color: '',
                    fillColor: '',
                    fillOpacity: 0.2,
                    radius: 600
                }).addTo(mymap);

            }});
    }

    getLocation()

</script>